@model IPagedList<ExoMVC.DTO.UserDTO>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Liste des utilisateurs</h2>
<hr />
<br />
<div class="container">
    <p>
        @using (Html.BeginForm("Index", "Utilisateur", FormMethod.Get))
        {
            <input type="text" name="search" placeholder="Mot clé........."/>
            <input type="submit" value="Rechercher" name="submit" class="btn btn-dark" />
        }

    </p>
</div>

<div class="container">
    <p>
        @Html.ActionLink("Créer un utilisateur", "Create")
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.ActionLink("↓", "Index", new { search = Request.QueryString["search"], i = Request.QueryString["i"], sortBy = "nameDesc" })
                @Html.DisplayNameFor(model => model.First().UserName)
                @Html.ActionLink("↑", "Index", new { search = Request.QueryString["search"], i = Request.QueryString["i"], sortBy = "nameAsc" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().isAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Photo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
           <img src="~/Content/images/@item.Photo" class="img-thumbnail" style="height:30px"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
        }

    </table>
    <br />
    @Html.PagedListPager(Model, i => Url.Action("Index", "Utilisateur", new { i, search = Request.QueryString["search"] }))
</div>
